body {
	background-image:url(../img/apples.jpg);
	background-color:rgb(48, 252, 0);
	background-repeat:no-repeat;
	background-position: center;
	
	font-family: coustard, helvetica;
	width:100%;
}


#logo-position {
	font-size:40px;
	color:black;
	padding: 10px;
	text-align:center;
	text-shadow: 2px 1px 2px white;
	background-color:rgba(255, 255, 255, 0.6);
	width:400px;
	margin:auto;
	border-radius: 5px;
	margin-bottom:16px;
	margin-top:15px;
}



#cuttingboard-div {
	background-image:url(../img/cuttingboard.jpg);
	background-repeat:no-repeat;
	height:750px;
	width:500px;
	margin:auto;
	
}
#container1 {
	padding-top:50px;
	width:400px;
	height:100px;
	margin:auto;

}

#container2 {
	
	width:400px;
	height:600px;
	margin:auto;
	over-flow:hidden;
	margin-top:30px;
	line-height: 50px;
}

	

#inputlabel {
	font-size: 30px;
	margin-left:0px;
	margin-top: 20px;
	color:white;
	text-shadow:3px 1px 1px black;
	display:block;
	
}

#additem-text-box {
	font-size: 20px;
	margin-left:5px;


}

.main-text {
	font-size:20px;
	
}

ul{
  
  
}

li {
	list-style:lower-roman;
  width:322px;
}

button#additem {
	padding:5px;
	font-size: 16px;;
	vertical-align:top;
	z-index:10;

}


.new-list-item {
	height:25px;
	width:400px;
	display:inline-block;
	font-size: 40px;
	font-family: cursive, helvetica;
	color: #2d2f4a;
	

	}

button.delete {
  font-size:18px;
  float:right;
	background-color:rgba(255, 255, 255, 0.42);
	margin-top:12px;




}

#firstitemexample {
	display:show;
}



