body {
	background-image:url(/img/apples.jpg);
	background-repeat:no-repeat;
	font-family: coustard, helvetica;
	width:100%;
}


#logo-position {
	font-size:40px;
	color:black;
	padding: 10px;
	text-align:center;
	text-shadow: 2px 1px 2px white;
}

#container1 {
	background-color:#50504F;
	width:400px;
	height:100px;
	margin:auto;
}

#container2 {
	background-color:rgba(86, 87, 78, 0.58);
	width:400px;
	height:600px;
	margin:auto;
}

#container1, #container2 {
	border: 12px solid rgba(32, 142, 138, 0.42);
}
	

#inputlabel {
	font-size: 22px;
	margin-left:5px;
	margin-top: 20px;
	color:white;
	text-shadow:1px 1px 1px black;
	display:block;
	
}

#additem-text-box {
	font-size: 20px;
	margin-left:5px;


}

.main-text {
	font-size:20px;
	
}

ul{
  width:322px;

  
}

li {
	margin:10px 5px;
	list-style:none;
    position:relative;
    width:322px;
}

button#additem {
	padding:3px;
	font-size: 16px;;
	vertical-align:top;

}


.new-list-item {
	height:25px;
	width:250px;
	display:inline-block;
	font-size: 23px;
	font-family: helvetica;
	color: white;
	font-stretch: expanded;
	}

button.delete {
  font-size:10px;
  position:absolute;
  right:-55px;
  top:3px;



}



